<script type="text/javascript">
$(document).ready(
    function() {
      $('#date').load('/date');

      setInterval(function() {
        $('#date').load('/date');
      }, 30000);
    });
</script>
<%= react_component('Forecast', source: @forecast_url, coordinates: @coordinates) %>
<div id="date">
</div>
