body {
  background-color: black;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 300;
  position: relative;
}

#weather {
  margin-right: auto;
  display: block;
  text-align: left;
}

#weather #today {
  //width: 230px;
  //display: inline;
  margin: 10px;

  .temperature {
    float: left;
    font-size: 120px;
    text-align: center;
    vertical-align: middle;
    line-height: 128px;
    margin-right: 20px;
  }

  .summary {
    margin-top: 10px;
    font-size: 25px;
    max-width: 500px;
  }

  .probability {
    margin-top: 10px;
    font-size: 40px;
  }
}

#weather #week {
  ul {
    padding: 0;
  }

  .week-day {
    margin: 5px;
    display: inline-block;
    list-style: none;
    text-align: center;

    span {
      display: block;
    }

    canvas {
      display: block;
    }
  }
}

#date {
  margin-right: auto;
  display: block;
  text-align: right;
  margin-top: -400px;
  font-size: 60px;
}
